{% extends 'base.html' %}

{% block title %}
{{ group.name }}
{% endblock %}

{% block content %}

<h1>
    {{ group.name }}
</h1>

{% if group.mentor %}

<p>
    Учитель:
    <strong>
        {{ group.mentor.name }}
    </strong>
</p>

{% endif %}

<p>
    Создана:
    {{ group.created_at|date:"d.m.Y" }}
</p>


<h2 style="margin-top: 30px;">
    Студенты группы
</h2>


<div class="students">

    {% for student in students %}

    <div class="student-card">

        {% if student.avatar %}

        <img src="{{ student.avatar.url }}" alt="{{ student.name }}">

        {% endif %}

        <h2>
            {{ student.name }}
        </h2>

        <p>
            Возраст: {{ student.age }}
        </p>

        <a href="{% url 'student_detail' student.id %}">
            Подробнее
        </a>

    </div>

    {% empty %}

    <p>
        В группе пока нет студентов.
    </p>

    {% endfor %}

</div>

{% endblock %}