{% extends 'base.html' %}

{% block title %}
Группы
{% endblock %}

{% block content %}

<h1>Группы</h1>

<div class="students">

    {% for group in groups %}

    <div class="student-card">

        <h2>
            {{ group.name }}
        </h2>

        {% if group.mentor %}

        <p>
            Учитель:
            {{ group.mentor.name }}
        </p>

        {% else %}

        <p>
            Учитель не назначен
        </p>

        {% endif %}

        <p>
            Студентов:
            {{ group.students.count }}
        </p>

        <a
            href="{% url 'group_detail' group.id %}"
        >
            Подробнее
        </a>

    </div>

    {% empty %}

    <p>Групп пока нет.</p>

    {% endfor %}

</div>

{% endblock %}