{% extends 'base.html' %}

{% block title %}
{{ teacher.name }}
{% endblock %}

{% block content %}

<h1>{{ teacher.name }}</h1>

<p>
    Направление:
    <strong>
        {{ teacher.get_direction_display }}
    </strong>
</p>

<h2 style="margin-top: 30px;">
    Группы учителя
</h2>

<div class="students">

    {% for group in groups %}

    <div class="student-card">

        <h2>
            {{ group.name }}
        </h2>

        <p>
            Студентов:
            {{ group.students.count }}
        </p>

        <a
            href="{% url 'group_detail' group.id %}"
        >
            Открыть группу
        </a>

    </div>

    {% empty %}

    <p>
        У этого учителя пока нет групп.
    </p>

    {% endfor %}

</div>

{% endblock %}