{% extends 'base.html' %}
{% block title %}
Учителя
{% endblock %}

{% block content %}

<h1>Учителя</h1>

<div class="students">

    {% for teacher in teachers %}

    <div class="student-card">

        <h2>
            {{ teacher.name }}
        </h2>

        <p>
            Направление:
            {{ teacher.get_direction_display }}
        </p>

        <a
            href="{% url 'teacher_detail' teacher.id %}"
        >
            Подробнее
        </a>

    </div>

    {% empty %}

    <p>Учителей пока нет.</p>

    {% endfor %}

</div>

{% endblock %}